div{
  width: 200px;
  height: 200px;
  background: red;
  position: absolute;
  left: 50%;
  //margin-left: (-200px / 2);
  //margin-left: (-200px * 0.5);
  //margin-left: (-200px + 55);
  margin-left: (-200px - 55);
}