.father{
  width: 300px;
  height: 300px;
  background: red;
  &:hover{
    width: 100px;
    height: 100px;
    background: yellow;
  }
  .son{
    width: 200px;
    height: 200px;
    background: blue;
  }
}