/*
@mixin center(){
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
 */
.center{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.father{
  @extend .center;
  width: 300px;
  height: 300px;
  background: red;
  //@include center;
  .son{
    @extend .center;
    width: 200px;
    height: 200px;
    background: blue;
    //@include center;
  }
}