/*
@mixin whc($w, $h, $c){
  width: $w;
  height: $h;
  background: $c;
}
 */
.box1 {
  width: 300px;
  height: 300px;
  background: red;
}

.box2 {
  width: 100px;
  height: 100px;
  background: blue;
}
