ul li {
  width: 100%;
  height: 50px;
  border: 1px solid #000;
  font-size: 20px;
  color: #fff;
  background: red;
  /*
  &:nth-child(5){
    background: blue;
  }
  &:nth-child(6){
    background: blue;
  }
  &:nth-child(7){
    background: blue;
  }
  &:nth-child(8){
    background: blue;
  }
   */
}
ul li:nth-child(5) {
  background: deepskyblue;
}
ul li:nth-child(6) {
  background: deepskyblue;
}
ul li:nth-child(7) {
  background: deepskyblue;
}
ul li:nth-child(8) {
  background: deepskyblue;
}
