/*
.whc(@w, @h, @c){
  width: @w;
  height: @h;
  background: @c;
}
 */
.box1 {
  width: 100px;
  height: 100px;
  background: #ff0000;
}
.box2 {
  width: 300px;
  height: 300px;
  background: #0000ff;
}
