/*
.animate(@name, @time, @mode, @delay){
  //transition: @name @time @mode @delay;
  transition: @arguments;
}
 */
/*
.animate(...){
  //transition: @name @time @mode @delay;
  transition: @arguments;
}
*/
/*
.animate(@name, ...){
  //transition: @name @time @mode @delay;
  transition: @arguments;
}
 */
/*
less中的@arguments和js中的arguments一样, 可以拿到传递进来的所有形参
*/
/*
less中的...表示可以接收0个或多个参数
如果形参列表中使用了..., 那么...必须写在形参列表最后
*/
div {
  width: 200px;
  height: 200px;
  background: red;
  transition: all 4s linear 0s;
}
div:hover {
  width: 400px;
  height: 400px;
  background: blue;
}
